.dashboard-body {
  // background: url(https://images.unsplash.com/photo-1461727885569-b2ddec0c4328?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=d991236329966001ca5951d003684575);
  background: white;
  height: 80vh;
  width: 100%;
  background-size: cover;
  margin: 0;
  position: relative;
}

.dashboard-content {
  margin: auto;
  width: 75%;
}

.main {
  text-align: center;
  margin-left: 10%;
  background: white;
  height: calc(100vh-70px);
}

#user-ramen {
  margin-top: 0;
  display:none;
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  color: #E7C719;
  position: relative;
  top: 68px;
  position: fixed;
  overflow-y: auto;
}

#user-reviews {
  margin-top: 0;
  display:none;
  background: rgba(0, 0, 0, 0.3);
  height:100vh;
  color: #E7C719;
  position: relative;
  top: 68px;
  position: fixed;
  overflow-y: auto;
  width: 100%;
}


#user-requests {
  margin-top: 0;
  display:none;
  background: rgba(0, 0, 0, 0.3);
  height:100vh;
  color: #E7C719;
  position: relative;
  top: 68px;
  position: fixed;
  overflow-y: auto;
}


#user-tabs input {
  display: none;
}

.nav-tabs {
  margin: 0;
}

.user-ramen-content {
  margin-bottom: 10px;
}
.taste-requests {
  height: 100vh;

}

.display h1 {
padding: 20px;
margin-top: 0;
}

.display {
  height: 100vh;
}

.pending-flex {
  display: flex;
  justify-content: space-between;
  width:70%;
  margin: 30px auto;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  color: $pink;
  background-color: rgba(196, 196, 196, 0.6);
  p {
    font-size: 16px;
  }
}

.pending-actions {
  a{
    margin: 8px;
  }
}


input:checked + label {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: #E7C719;
}


ul {
  margin-top: 5%;
}

