.index-body {
  background: url(https://images.unsplash.com/photo-1461727885569-b2ddec0c4328?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1600&h=900&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=d991236329966001ca5951d003684575);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin-top: 0;
}

body {
  height: 100vh;
  font-family: 'Poiret One', cursive;
}

.fa-star .index {
  color: #E7C719;
}

