.show-wrapper {
  background: white;
}

.ramen-photo {
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0, auto;
  bottom: 0;
}

.ramen-content {
  margin: 0 auto;
  padding: 20px 50px 100px 50px;
  width: 80%;
  background: white;
}
// .fa .fa-star {
//   font-size: 20px;
// }

// .ramen-description {
//   margin: auto;
// }

// .yellow {
//   color: #E7C719;
// }

.description-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .taste {
    margin-left: 15%;
    flex-grow: 1;
    width: 600px;
  }

  .btn-warning{
    border-color: #E67E22;
    width: 100%;
  }

  .btn-warning:hover {
    background-color:#E67E22;
    border-color: #E67E22;
  }

  .btn-success{
    border-color: #32B796;
    width: 100%;
  }

  .btn-success:hover {
    background-color:#32B796;
    border-color: #32B796;
  }
}

.status {
  .btn {
    cursor: default;
  }
}

.taste {
  padding: 4px;
  border-radius: 5px;
  background: rgba(172, 172, 172, 0.1);
  text-align: center;
  p {
    font-size: 20px;
  }
}

.fa-star {
  color: black;
}

.fa-star:hover {
  color: #E7C719;
}

.fa-star .favourite {
  color: #E7C719;
}
