.container {
  align-items: center;
  margin-top: 10px;
}

.ramen-photo {
  top: 0;
  height: 45vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0, auto;
}

// .fa .fa-star {
//   font-size: 20px;
// }

.ramen-description {
  width: 90%;
  margin: auto;
}
