<div class="new-container">
  <div class="new-ramen-background">
    <div class="card new-content">
      <div class="new-crown">
        <i class="fas fa-crown"></i>
      </div>
      <%= render 'form_new' %>
      </div>
  </div>
</div>

