<div class="dash-body">
  <div class="sidenav">
    <div class="user-actions">
      <%= image_tag "https://i.imgur.com/g2b727j.png", class: "avatar" %>

      <h2><%= link_to "Favorites", "#" %></h2>

      <h2><%= link_to "Ramen", "#" %></h2>

      <h2><%= link_to "Reviews", "#" %></h2>
    </div>
  </div>
  <div class="main">
    <h1>Hello User</h1>
  </div>
</div>
