<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(150,150,150,0.6) 75%), url('https://i.imgur.com/rPEt1g1.jpg');">
  <div class="banner-content">
    <h1>Top Ramen</h1>
    <p>High Society Noodles</p>
    <%= link_to "Search", ramens_path, class: "btn btn-primary" %>
    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
  </div>
</div>

