.ramen-card {
  background: rgba(255, 255, 255, 0.9);
  height: 300px;
  box-shadow: 1px 1px 9px;
  position: relative;
  margin: 30px;
  padding: 0 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ramen-content {
  flex: 0 0 50%;
}

.ramen-image {
  margin: 0 auto;
  flex: 0 0 30%;
  max-width: 100%;

}

.ramen-action {
  flex: 0 0 auto;
  position: absolute;
  top: 10px;
  font-size: 16px;
  .fa-star .index {
   text-decoration: none;
   color: #E7C719;
  }
}

.user-ramen-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
// .ramen-content {
//   position: absolute;
//   top: 125px;
// }

.fav-card {
  width: 400px;
  height: 200px;
}


.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 20px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-ramen-name {
  width: 100%;
  text-align: center;
}

.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
