.ramen-card {
  background: rgba(255, 255, 255, 0.9);
  height: 300px;
  box-shadow: 1px 1px 9px;
  position: relative;
  margin: 30px;
  padding: 0 5px;
  border-radius: 10px;
}

.ramen-actions {
  position: absolute;
  top: 90%;
  margin-left: 50%;
  margin-top: 5px;
  font-size: 12px;
  a {
   text-decoration: none;
   color: #E7C719;
   font-size: 14px;
  }
}

.ramen-content {
  position: absolute;
  top: 125px;
}

.fav-card {
  width: 400px;
  height: 200px;
}
