.ramen-tab label {
  text-align: center;
  height: 120px; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
  position: absolute;
  position:fixed;
  top:70px;
}

.review-tab label {
  text-align: center;
  height: 120px; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
  position: absolute;
  position:fixed;
  top:190px;

}

.requests-tab label {
  text-align: center;
  height: 120px; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
  position: absolute;
  position:fixed;
  top:310px;
}

.sidenav-bottom {
  height: 46.55vh;
  width: 10%; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
  position: absolute;
  position:fixed;
  top:430px;
}

.avatar {
  height: 150px;
  width: 150px;
}

#user-actions {
  a {
    text-decoration: none;
    color: #E7C719;
  }
}

