.sidenav-img {
  text-align: center;
  height: 180px;
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}


.fav-tab {
  text-align: center;
  height: 120px; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
  position: absolute;
  top:180px;
}

.ramen-tab {
  text-align: center;
  height: 120px; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
  position: absolute;
  top:300px;
}

.review-tab {
  text-align: center;
  height: 120px; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
  position: absolute;
  top:420px;
}

.sidenav-bottom {
  height: 100px; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  overflow-x: hidden; /* Disable horizontal scroll */
  position: absolute;
  top:540px;
}

.avatar {
  height: 150px;
  width: 150px;
}

#user-actions {
  a {
    text-decoration: none;
    color: #E7C719;
  }
}
